Source: deepin-firefox-addons
Section: admin
Priority: optional
Maintainer: Wang Mingdong <wangmingdong@linuxdeepin.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: deepin-firefox-addons
Architecture: all
Depends: ${misc:Depends},  firefox
Description: Web Apps running on Firefox Prism.
 Apps including Gmail, WebQQ2, Meebo, 1g1g.
