Package: deepin-firefox-addons
Version: 1.0-1
Architecture: all
Maintainer: Wang Mingdong <wangmingdong@linuxdeepin.com>
Installed-Size: 1140
Depends: firefox
Section: admin
Priority: optional
Description: Web Apps running on Firefox Prism.
 Apps including Gmail, WebQQ2, Meebo, 1g1g.
